textarea {
  display: block;
  width: 500px;
  height: 100px;
}

code {
  display: block;
  margin: 10px;
}

#apiUrl {
  display: block;
  width: 500px;
  float: left;
}

label {
  width: 300px;
  display: block;
  margin-top:10px;
}
